<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Navbar</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link th:href="@{/img/favicon.ico}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Inter:wght@600&family=Lobster+Two:wght@700&display=swap"
          rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link th:href="@{/lib/animate/animate.min.css}" rel="stylesheet">
    <link th:href="@{/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <!--    font awesome toolkit-->
    <script src="https://kit.fontawesome.com/f2c9afeedf.js" crossorigin="anonymous"></script>
</head>
<body>

<div th:fragment="job-applicants">
    <div>
        <span th:if="${activeApplicants}">
            <h4 class="mb-0">All Active Job Applications</h4>
        </span>
        <span th:if="${selectedApplicants}">
            <h4 class="mb-0">All Selected Job Applications</h4>
        </span>
        <span th:if="${rejectedApplicants}">
            <h4 class="mb-0">All Rejected Job Applications</h4>
        </span>
        <div class="d-flex justify-content-between">
            <div></div>
            <div class="dropdown">
                <button class="btn btn-outline-info  dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                    Filter
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item fw-semibold text-info filter-btn" data-filter="active"
                           href="#">Active</a></li>
                    <li><a class="dropdown-item fw-semibold text-success filter-btn" data-filter="selected" href="#">Selected</a>
                    </li>
                    <li><a class="dropdown-item fw-semibold text-danger filter-btn" data-filter="rejected" href="#">Rejected</a>
                    </li>
                </ul>
            </div>
        </div>
        <hr>

        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col" th:each="applicant:${applicants}">
                <!--        th:style="${applicant.status == 'ACTIVE'} ? '' : 'display: none;'"-->
                <div class="card h-100 job-card border-0">
                    <div class="card-body">
                        <h5 class="card-title text-info">Application of <span
                                th:text="${applicant.firstName+' '+applicant.lastName}"></span></h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary"><span class="mx-2">Position:</span> <span
                                th:text="${applicant.appliedPosition}"></span></h6>
                        <div class="mb-2">
                            <p class="mb-1"><span class="fw-semibold text-info mx-2">Qualification:</span> <span
                                    th:text="${applicant.qualification}"></span></p>
                            <p class="mb-1"><i class="fa-solid fa-location-dot mx-2 text-info"></i> <span
                                    th:text="${applicant.address}"></span></p>
                            <p class="mb-1"><i class="fa-solid fa-envelope mx-2 text-info"></i> <span
                                    th:text="${applicant.email}"></span></p>
                            <p class="mb-1"><i class="fa-solid fa-phone-volume mx-2 text-info"></i> <span
                                    th:text="${applicant.phone}"></span></p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <a th:href="@{/resume/{id}(id=${applicant.id})}" target="_blank"
                               class="card-link btn btn-outline-success">View Resume</a>
                            <div class="btn-group" role="group" th:if="${activeApplicants}">
                                <button type="button" class="btn btn-outline-primary dropdown-toggle"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                    Actions
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item text-success fw-semibold"
                                           th:href="@{/admin/select/{id}(id=${applicant.id})}">Select</a></li>
                                    <li><a class="dropdown-item text-danger fw-semibold"
                                           th:href="@{/admin/reject/{id}(id=${applicant.id})}">Reject</a></li>
                                </ul>
                            </div>
                            <div class="text-success fw-semibold fs-6" th:if="${selectedApplicants}">
                                Selected
                            </div>
                            <div class="text-danger fw-semibold fs-6" th:if="${rejectedApplicants}">
                                Rejected
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/lib/wow/wow.min.js}"></script>
<script th:src="@{/lib/easing/easing.min.js}"></script>
<script th:src="@{/lib/waypoints/waypoints.min.js}"></script>
<script th:src="@{/lib/owlcarousel/owl.carousel.min.js}"></script>

<!-- Template Javascript -->
<script th:src="@{/js/main.js}"></script>
</body>
</html>