body{
    background-color: #E0FFFF;
}
.teacher-profile{
    width: 220px; /* Set the width of the image */
    height: 200px; /* Set the height of the image */
    border-radius: 50%; /* This makes the image circular */
     object-fit: cover
}
.review{
     background-color: #87CEEB;
}
.form-label{
    font-weight:bold;
}
.box1{
       position: absolute;
       top: 50%; /* Move down 50% from the top */
       left: 50%; /* Move right 50% from the left */
       transform: translate(-50%, -50%); /* Adjust position back by half of its width and height */
       z-index:2;
}
.box2{
    z-index:1;
    opacity: .15;
}
